body {
    background-color: crimson;
}

.jumbotron {
    background-color: chartreuse;
}

.jumbotron h1 {
    font-size: 6vw;
}

.jumbotron p {
    font-size: 2vw;
}

.body-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

#search-bar { 
    width: 40vw;
}  

.card img {
    height: 200px;
    width: 150px;
}

.card h2 {
    text-transform: capitalize;
}

.qty {
    margin-left: 30px;
    margin-right: 30px;
    
    position: relative;
    bottom: 5px;
}

.checkout {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.payment {
    text-align: center;
    margin: auto;
}
.jumbotron button {
    position: relative;
    top: -10px;
    margin-right: 40px;
}
.note {
    border:1px solid gray;
    width:200px;
    height:200px;
    padding:4px;
    font-size:85%;
    background:#FFFC7F;
    -moz-box-shadow:2px 2px 2px #999999;
    -webkit-box-shadow:2px 2px 2px #999999;
    box-shadow:2px 2px 2px #999999;
    position:absolute;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/* Postick's button "delete" */
.delete {
    cursor:pointer;
    font-size:120%;
    margin-right: 10px;
}
 
/* Content to be editable inside the postick */
.editable {
    cursor:pointer;
    height:180px;
    margin:0 auto;
    padding: 10px;
    width:100%;
    overflow:hidden;
    position:relative;
    -moz-text-shadow: 1px 1px 0px white;
    text-shadow: 1px 1px 0px white;
}
 
.editable:hover{
    border:1px dotted gray;
}
.toolbar {
    text-align:right;
    font-weight:bold;
}
 